services:
  backend:
    build: .
    image: ${IMAGE_NAME:-backend}
    expose:
      - "8000"
    env_file:
      - .env
    restart: always
    networks:
      - default
      - nginx-proxy

  frontend:
    build: ./frontend
    image: ${FRONTEND_IMAGE_NAME:-frontend}
    expose:
      - "80"
    restart: always
    networks:
      - default
      - nginx-proxy

networks:
  nginx-proxy:
    external: true
    name: nginx-proxy_default
